*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
Header{
    background: #000000;
    color: #fffefe;
    text-align: center;
    padding: 20px;
}
nav{
    background: #747373;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}